.noResultBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 160px 0;
}

.paragraph {
  margin-top: 16px;
}

.searchResultBody {
  width: 100%;
}

.loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}
