.accordion {
  border-bottom: 1px solid var(--gray-100);
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: var(--faq-list-q-padding);
  background: none;
  border: none;
  cursor: pointer;
}

.headerText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--space-xsm);
  flex: 1;
}

/* Mobile version of meta */
.metaMobile {
  font-size: var(--heading-4);
  color: var(--gray-500);
  display: block;
}

/* Desktop category layout hidden on mobile */
.categoryDesktop,
.subCategoryDesktop {
  display: none;
}

.question {
  font-weight: 700;
  font-size: var(--faq-list-a-size);
  color: var(--midnight-900);
  line-height: var(--line-height-sm);
  word-break: keep-all;
  text-align: left;
}

.arrow {
  width: var(--ic-sm);
  height: var(--ic-sm);
  transition: transform 0.3s var(--cubic-bezier-primary);
  flex-shrink: 0;
}

.arrowOpen {
  transform: rotate(180deg);
}

/* Answer */
.answerWrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  padding: 0 var(--faq-list-a-padding-h);
  transition: max-height 0.5s var(--cubic-bezier-primary), opacity 0.5s ease,
    padding 0.3s ease;
}

.open {
  max-height: 500px;
  opacity: 1;
  padding: var(--faq-list-a-padding-v) var(--faq-list-a-padding-h);
}

.answer {
  line-height: var(--line-height-md);
}

.answer p {
  color: var(--midnight-900);
  font-size: var(--faq-list-a-size);
  margin: var(--space-md) 0;
  font-weight: 400;
}

/* ---------------- Desktop View ---------------- */
@media (min-width: 1024px) {
  .headerText {
    flex-direction: row;
    align-items: flex-start;
    gap: var(--space-sm2);
  }

  .metaMobile {
    display: none;
  }

  .categoryDesktop,
  .subCategoryDesktop {
    display: flex;
    width: 208px;
    font-size: var(--heading-4);
    color: var(--gray-500);
    white-space: nowrap;
    justify-content: center;
    align-items: center;
  }

  .question {
    font-size: var(--faq-list-a-size);
    font-weight: 600;
    flex: 1;
    padding-left: var(--px-md);
  }

  .answerWrapper {
    padding: 0 var(--px-xlg);
  }

  .open {
    padding: var(--faq-list-a-padding-v) var(--px-xlg);
  }
}
